<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/signup.css">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post" action="/user/login">
       
        <div class="txt_field">
          <input type="text" name="email" required />
          <span></span>
          <label>email</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required />
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login" />
        
      </form>
    </div>
  </body>
</html>
